/* ----------------Google fonts---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* ----------------Reset---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ----------------Common---------------- */
/* -----Body----- */
body {
  width: 100%;
  min-height: 100vh;
  background-color: #ffd78c;
}

/* -----Page----- */
.page {
  background-color: #ffd78c;
  display: flex;
  width: 100%;
  max-width: 1700px;
  min-height: 100vh;
  margin: 0 auto;
}

.page .heading {
  font-size: 2.2rem;
  font-weight: 600;
  color: #303952;
  margin-bottom: 20px;
}

/* -----Links----- */
a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #303952;
  transition: all 0.3s ease-in-out;
}

/* -----Svg icons----- */
svg {
  color: #303952;
  width: 60px;
  height: 60px;
  transition: all 0.3s ease-in-out;
}

/* -----Fixed whatsapp icon----- */
.fixed-whatsapp-btn {
  position: fixed;
  z-index: 101;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.fixed-whatsapp-btn > svg {
  color: #0cda57;
}

.fixed-whatsapp-btn > svg:hover {
  color: #18833f;
}

/* ----------------Home page---------------- */
.home {
  justify-content: space-evenly;
  align-items: center;
}

/* -----Images----- */
.home .images {
  width: 100%;
  max-width: 700px;
  margin: 0 30px;
}

.home .images > svg {
  width: 100%;
  height: 100%;
}

/* ----------------About page---------------- */
.about {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 110px 30px;
}

/* -----Grid----- */
.about .about-info-grid {
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.about .about-info-grid .span-column {
  grid-column: span 2;
}

.about .about-info-grid .highlight {
  background-color: #faab44;
}

/* ----------------Services page---------------- */
.services {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 110px 30px;
}

/* -----Tabs----- */
.services .tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.services .tabs .main-button-custom {
  margin: 0 10px 0 0 !important;
}

.services .tabs .main-button-custom:hover {
  background-color: #ffffff !important;
  color: #303952 !important;
}

.services .tabs .main-button-custom.active {
  background-color: #ffffff !important;
  color: #303952 !important;
}

/* -----Grid----- */
.services .services-grid {
  width: 100%;
}

.services .services-grid .service-type {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

/* ----------------Features page---------------- */
.features {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 110px 30px;
}

/* -----Grid----- */
.features .features-grid {
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.features .features-grid .common-card {
  min-height: 195px;
}

/* ----------------Testimonial page---------------- */
.testimonials {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 110px 30px;
}

/* -----Grid----- */
.testimonials .testimonials-grid {
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

/* ----------------Contact page---------------- */
.contact {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 110px 30px;
}

/* -----Grid----- */
.contact .contact-grid {
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.contact .contact-grid .common-card {
  height: inherit;
}

.contact .contact-grid .span-column {
  grid-column: span 2;
}

.contact .contact-grid .common-card {
  cursor: pointer;
}

.contact .contact-grid .other-contact-methods {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

/* ----------------Dashboard page---------------- */
.dashboard {
  max-width: 100%;
  display: grid;
  gap: 0;
  grid-template-columns: 2fr 15fr;
}

/* Menu */
.dashboard .menu {
  background-color: #f7c27d;
  height: 100%;
}

.dashboard .menu > li {
  width: 100%;
  list-style: none;
}

.dashboard .menu > li > a {
  display: block;
  color: #303952;
  padding: 20px;
}

.dashboard .menu > li > a.active {
  color: #ffffff;
  background-color: #303952;
}

/* Search */
.dashboard .content .search {
  background-color: #303952;
  padding: 15px;
}

.dashboard .content .search .inputbox-custom {
  width: 40%;
}

/* Table */
.dashboard .content .data-table {
  max-height: 90vh;
  overflow: auto;
}

/* Logout */
.dashboard > .main-button-custom {
  position: absolute;
  top: 18px;
  right: 20px;
}
.dashboard > .main-button-custom {
  background-color: #ffffff !important;
  color: #303952 !important;
}

.dashboard > .main-button-custom:hover {
  background-color: #9b9999 !important;
  color: #ffffff !important;
}

/* ----------------Login page---------------- */
.login {
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  max-width: 500px;
  margin: 0 30px;
  padding: 20px 30px;
  background-color: #faab44;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

/* Text inputs */
.login-form .inputbox-custom,
.login-form .textarea-custom {
  width: 100%;
  margin: 8px !important;
}

/* Main button */
.login-form .main-button-custom {
  width: 100%;
  margin: 8px !important;
  padding: 12px 20px !important;
}

.login-form .main-button-custom:hover {
  background-color: #778ca3 !important;
}

/* Sub heading */
.login-form .sub-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #303952;
  margin-bottom: 10px;
}

/* ----------------Media queries---------------- */
@media (max-width: 1100px) {
  /* -----Common----- */
  .page {
    padding: 160px 30px;
  }

  /* -----Home page----- */
  .home {
    flex-direction: column;
  }

  .home .images {
    max-width: 500px;
    margin-bottom: 50px;
  }

  /* -----About page----- */
  .about .about-info-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .about .about-info-grid .span-column {
    grid-column: span 1;
  }

  /* -----Contact page----- */
  .contact .contact-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact .contact-grid .span-column {
    grid-column: span 1;
  }

  /* -----Services, Features, Testimonial & Contact page----- */
  .services .services-grid .service-type,
  .features .features-grid,
  .testimonials .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  /* -----Services page----- */
  .services {
    align-items: center;
  }
  .services .tabs {
    flex-direction: column;
    width: 100%;
  }

  .services .tabs .main-button-custom {
    width: 100%;
    margin-bottom: 10px !important;
  }

  .contact .contact-grid .contact-form {
    flex-direction: column;
    justify-content: center;
  }

  .contact .contact-grid .contact-form .col {
    width: 100%;
    margin: 0;
    padding: 15px;
  }

  /* -----Services, Features, Testimonial page----- */
  .services .services-grid .service-type,
  .features .features-grid,
  .testimonials .testimonials-grid,
  .contact .contact-grid .other-contact-methods {
    grid-template-columns: repeat(1, 1fr);
  }
}
