/* ----------------Google fonts---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* ----------------Reset---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ----------------Common---------------- */
/* -----Body----- */
body {
  width: 100%;
  min-height: 100vh;
  background-color: #fcd182;
}

/* -----Page----- */
.page {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
}

/* -----Links----- */
a {
  text-decoration: none;
  font-size: 1rem;
  color: #303952;
  transition: all 0.3s ease-in-out;
}

/* ----------------Home page---------------- */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----Images----- */
.home .images {
  width: 100%;
  max-width: 700px;
  margin: 0 30px;
}

.home .images > svg {
  width: 100%;
  height: 100%;
}

/* ----------------About page---------------- */
.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 100px 30px;
}

/* -----Heading----- */
.about .heading {
  font-size: 3rem;
  font-weight: 700;
  color: #303952;
  margin-bottom: 20px;
}

/* -----Grid----- */
.about .about-info-grid {
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.about .about-info-grid .span-column {
  grid-column: span 2;
}

.about .about-info-grid .highlight {
  background-color: #faab44;
}
