/* ----------------Google fonts---------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* ----------------Reset---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* ----------------Common---------------- */
/* -----Body----- */
body {
  width: 100%;
  min-height: 100vh;
  background-color: #ffd78c;
}

/* -----Page----- */
.page {
  background-color: #ffd78c;
  display: flex;
  width: 100%;
  max-width: 1700px;
  min-height: 100vh;
  margin: 0 auto;
}

.page .heading {
  font-size: 2.2rem;
  font-weight: 600;
  color: #303952;
  margin-bottom: 20px;
}

/* -----Links----- */
a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #303952;
  transition: all 0.3s ease-in-out;
}

/* -----Svg icons----- */
svg {
  color: #303952;
  width: 60px;
  height: 60px;
  transition: all 0.3s ease-in-out;
}

/* ----------------Home page---------------- */
.home {
  justify-content: space-evenly;
  align-items: center;
}

/* -----Images----- */
.home .images {
  width: 100%;
  max-width: 700px;
  margin: 0 30px;
}

.home .images > svg {
  width: 100%;
  height: 100%;
}

/* ----------------About page---------------- */
.about {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 110px 30px;
}

/* -----Grid----- */
.about .about-info-grid {
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.about .about-info-grid .span-column {
  grid-column: span 2;
}

.about .about-info-grid .highlight {
  background-color: #faab44;
}

/* ----------------Services page---------------- */
.services {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 110px 30px;
}

/* -----Tabs----- */
.services .tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.services .tabs .main-button-custom {
  margin: 0 10px 0 0 !important;
}

.services .tabs .main-button-custom:hover {
  background-color: #ffffff !important;
  color: #303952 !important;
}

.services .tabs .main-button-custom.active {
  background-color: #ffffff !important;
  color: #303952 !important;
}

/* -----Grid----- */
.services .services-grid {
  width: 100%;
}

.services .services-grid .service-type {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

/* ----------------Features page---------------- */
.features {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 110px 30px;
}

/* -----Grid----- */
.features .features-grid {
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.features .features-grid .common-card {
  min-height: 195px;
}

/* ----------------Testimonial page---------------- */
.testimonials {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 110px 30px;
}

/* -----Grid----- */
.testimonials .testimonials-grid {
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

/* ----------------Contact page---------------- */
.contact {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 110px 30px;
}

/* -----Grid----- */
.contact .contact-grid {
  width: 100%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
}

.contact .contact-grid .span-column {
  grid-column: span 3;
}
