/* -----Common table----- */
.common-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9rem;
  min-width: 400px;
}

.common-table thead tr {
  background-color: #303952;
  color: #ffffff;
  text-align: left;
}

.common-table thead tr th {
  font-weight: 500;
}

.common-table th,
.common-table td {
  padding: 12px 15px;
}

.common-table tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

.common-table tbody tr:last-of-type {
  border-bottom: 2px solid #303952;
}

/* Buttons */
.common-table td .del {
  background-color: #e02c2c !important;
}

.common-table td .com {
  background-color: #439638 !important;
}

.common-table td .down {
  background-color: #794bb6 !important;
}

.common-table td .main-button-custom:hover {
  background-color: #9b9999 !important;
  color: #303952 !important;
}
