/* -----Common card----- */
.common-card {
  position: relative;
  height: 300px;
  padding: 30px;
  background-color: #faab44;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

/* Icon */
.common-card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

/* Title */
.common-card .title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #303952;
}

/* Details */
.common-card .details {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 50;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #303952;
  font-size: 0.8rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.common-card:hover .details {
  left: 0;
}
