/* -----Navigation bar----- */
.nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fcd182;
  padding: 18px;
}

/* Logo */
.nav-bar .logo {
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .logo > img {
  width: 100%;
}

/* Menu */
.nav-bar .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .menu > li {
  list-style: none;
  margin: 5px 10px;
}

.nav-bar .menu > li > a {
  padding: 5px 10px 0px 10px;
}

.nav-bar .menu > li > a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #303952;
}

.nav-bar .menu > li > a.active {
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
}

.nav-bar .menu > li,
.nav-bar .menu > li .main-button-custom {
  margin-right: 0 !important;
}
