/* -----Testimonial card----- */
.testimonial-card {
  position: relative;
  max-height: 500px;
  padding: 30px;
  background-color: #faab44;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

/* Field */
.testimonial-card .field {
  font-size: 1.5rem;
  font-weight: 600;
  color: #303952;
  width: 100%;
  margin-bottom: 5px;
}

/* Review & user */
.testimonial-card .review,
.testimonial-card .user {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  color: #303952;
  margin: 5px;
}

/* Rating */
.testimonial-card .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.testimonial-card .rating > svg {
  width: 15px;
  height: 15px;
}
